.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  margin-top: 15px;
  width: 400px;
  padding: 30px;

  background-color: #ffffff;
  border-radius: 20px;

  text-align: left;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px 12px;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 10px;

  border: none;
  border-radius: 20px;

  color: #111111;
  font-weight: 600;
  background-color: #e5e5e5;
}

.button {
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;

  color: #ffffff;
  background-color: #3f62f1;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 20px;
  border: none;

  cursor: pointer;
  transition: background-color 250ms linear;
}

.button:hover {
  background-color: #546fda;
}
