.nav {
  display: flex;
  justify-content: space-between;

  position: fixed;
  left: 0;
  right: 0;

  background-color: white;
  padding: 10px 20px;
}

.nav a {
  font-size: 1.2rem;
  padding: 7px;

  transition: all 0.5s;
}

.contentBlock a:not(:last-child),
.registerBlock a:not(:last-child) {
  margin-right: 10px;
}

.activeLink {
  color: #fff;
  background-color: #3f62f1;
}

.nav a:hover {
  color: #fff;
  background-color: #3f62f1;
}
